In [22]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [23]:
import pandas as pd

# 시리즈
- 복수의 행(row)으로 이루어진 하나의 열(column)구조
- 색인(index)을 가지고 원하는 데이터에 접근할 수 있음
- 자동으로 색인을 만들어줌

In [24]:
x = pd.Series([7, 3, 5, 8], index = ["서울", "대구", "부산", "광주"])
print(x)
print(x[["서울","대구"]])
print(x.index)
print(x.values)

서울    7
대구    3
부산    5
광주    8
dtype: int64
서울    7
대구    3
dtype: int64
Index(['서울', '대구', '부산', '광주'], dtype='object')
[7 3 5 8]

In [25]:
y = pd.Series([3, 6, 9, 2], index=["대전", "대구", "부산", "광주"])
print(x+y)

광주    10.0
대구     9.0
대전     NaN
부산    14.0
서울     NaN
dtype: float64

In [26]:
test1 = pd.Series([1,2,2,2,3,4,4,4,5,6,7])
print(pd.unique(test1))

[1 2 3 4 5 6 7]

In [27]:
dic1 = {"민준":23, "강훈":42, "동현":25}
x = pd.Series(dic1)
x

민준    23
강훈    42
동현    25
dtype: int64

In [28]:
x = pd.Series(["서울", "대구", "부산", "광주"], index=[7, 3, 5, 8])
print(x[8])

광주

# DataFrame

In [29]:
data = {"age": [23, 25, 26, 27],
        "name" : ["강훈", "훈이", "짱구", "영희"]}

x = pd.DataFrame(data, columns=["age", "name", "아무", "거나"])

print(x)
print(x.age)

   age name   아무   거나
0   23   강훈  NaN  NaN
1   25   훈이  NaN  NaN
2   26   짱구  NaN  NaN
3   27   영희  NaN  NaN
0    23
1    25
2    26
3    27
Name: age, dtype: int64

In [30]:
ary = [[1,2], [2,3], [5,6]]
data = pd.DataFrame(ary, columns=["내맘", "대로"])
print(data)
print(data.iloc[0])
print(data.iloc[1])

   내맘  대로
0   1   2
1   2   3
2   5   6
내맘    1
대로    2
Name: 0, dtype: int64
내맘    2
대로    3
Name: 1, dtype: int64

In [42]:
accident = pd.read_csv('.\user\acci.csv', encoding='cp949')
accident.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 1-2: truncated \uXXXX escape (<ipython-input-42-7a28a320039f>, line 1)