# 데이터 프레임
### 환자 명세서 데이터 프레임 생성
- 2차원 배열로 구성된 데이터 프레임을 생성하기 위해 다음 표와 같이 필요한 환자 코드, 연령, 성별, 거주지 데이터를 제시

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.20.1)

In [3]:
import pandas as pd

In [4]:
data = { 'gender' : {'남자':23 , '여자': 53},
         'code' : ['A00301', 'D00809'],
         'address' : ['서울특별시', '제주특별자치도']}

print(data)

{'gender': {'남자': 23, '여자': 53}, 'code': ['A00301', 'D00809'], 'address': ['서울특별시', '제주특별자치도']}

In [5]:
# 강사님 버전

# DF 열에 맞추어서 생성하기
df = pd.DataFrame([['환자코드', '연령', '성별', '거주지'], 
                   ['A00301', 23, '남', '서울특별시'],
                   ['D00809', 53, '여', '제주특별자치도']]).T

print(df)  # 데이터 프레임 출력

      0       1        2
0  환자코드  A00301   D00809
1    연령      23       53
2    성별       남        여
3   거주지   서울특별시  제주특별자치도

### DataFrame() 함수의 인자로 전달
- DataFrame 은 우리의 동지, 자나깨나 생각나야한다고 함

In [6]:
df =pd.DataFrame([['환자코드', '연령', '성별', '거주지'],
                  ['A00301', 25, '남', '서울특별시'],
                  ['D00809', 19, '여', '제주특별자치도']])

print(df)

        0   1   2        3
0    환자코드  연령  성별      거주지
1  A00301  25   남    서울특별시
2  D00809  19   여  제주특별자치도

In [7]:
# 데이터 프레임의 행 인덱스와 열 이름 설정 후 각각 출력하기
# 환자 명세서에 대한 데이터 프레임의 행 인덱스와 열 이름을 출력하기 위해 다음과 같이 소스 코드 작성

df =pd.DataFrame([[23, '남', '서울특별시'],
                  [53, '여', '제주특별자치도']],
                  index = ['A00301','D00809'],
                  columns = ['연령', '성별', '거주지'])

print(df)           # 데이터 프레임 출력
print('\n')         # 한 줄 띄우기
print(df.index)     # 행 인덱스 출력
print(df.columns)   # 열 이름 출력

        연령 성별      거주지
A00301  23  남    서울특별시
D00809  53  여  제주특별자치도


Index(['A00301', 'D00809'], dtype='object')
Index(['연령', '성별', '거주지'], dtype='object')

### rename() 메소드

In [8]:
# 행 인덱스의 환자코드를 '환자1', '환자2'로 변경
df.rename(index={'A00301':'환자1', 'D00809':'환자2'}, inplace=True)

# 열 이름 중 '연령'은 'age', '성별'은 'gender', '거주지'는 'addr'로 변경
df.rename(columns={'연령':'age', '성별': 'gender', '거주지': 'addr'}, inplace=True)

#변경된 데이터 프레임 df 출력
print(df)

     age gender     addr
환자1   23      남    서울특별시
환자2   53      여  제주특별자치도

### 행 데이터 선택

In [27]:
# 건강관리 대상자의 생체 데이터

df =pd.DataFrame([['이겨레', 25, '남', 185, 89],
                  ['조약돌', 19, '여', 163, 53]],
                  index = ['이겨레', '조약돌'],      # index를 넣어야 loc 가 출력된다.
                  columns = ['성명', '나이', '성별', '키', '체중'])

print(df)

      성명  나이 성별    키  체중
이겨레  이겨레  25  남  185  89
조약돌  조약돌  19  여  163  53

In [28]:
# loc 인덱서 사용 : 인덱스의 이름(특정 레이블)을 기준으로 선택

df.loc['이겨레']

성명    이겨레
나이     25
성별      남
키     185
체중     89
Name: 이겨레, dtype: object

In [29]:
# iloc 인덱스 사용 : 특정 위치를 인덱스의 정수값으로 지정하여 선택

df.iloc[[0]]

      성명  나이 성별    키  체중
이겨레  이겨레  25  남  185  89

In [30]:
df.iloc[[0,1]]

      성명  나이 성별    키  체중
이겨레  이겨레  25  남  185  89
조약돌  조약돌  19  여  163  53

In [31]:
df.iloc[0:2]

      성명  나이 성별    키  체중
이겨레  이겨레  25  남  185  89
조약돌  조약돌  19  여  163  53

In [34]:
# 강사님 버전

bio_data = {'나이':[25, 19], '성별':['남', '여'], 
            '키':[185, 163], '체중':[89, 53]}

# DataFrame()함수를 사용하고 성멸을 인덱스로 설정하여 변수 df 에 저장
df = pd.DataFrame(bio_data, index=['이겨레', '조약돌'])

print(df)       # 데이터 프레임 df 출력
print('\n')

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [36]:
# 특정 데이터만 선택하기

# '이겨레'는 loc 인덱서, '조약돌'은 iloc 인덱서를 사용하여 행 데이터 선택
search_01 = df.loc['이겨레']
position_01 = df.iloc[1]  # 인덱스는 0부터 시작하므로 조약돌의 인덱스는 1

# '이겨레'는 loc 인덱서, '조약돌'은 iloc 인덱서를 사용하여 행 데이터 선택
print(search_01)      # 이겨레 행 데이터 출력
print('\n')
print(position_01)    # 조약돌 행 데이터 출력

나이     25
성별      남
키     185
체중     89
Name: 이겨레, dtype: object


나이     19
성별      여
키     163
체중     53
Name: 조약돌, dtype: object

In [37]:
# 리스트를 사용하여 여러 개의 행 데이터 선택
search_02 = df.loc[['이겨레', '조약돌']]
position_02 = df.iloc[[0, 1]]         # 인덱스 2개를 정수형으로 선택

# 이겨레는 loc 인덱서, 조약돌은 iloc 인덱서를 사용하여 행 데이터 출력
print(search_02)      # loc로 범위를 설정한 2개의 행 데이터 출력
print('\n')
print(position_02)    # iloc로 범위를 설정한 2개의 행 데이터 출력

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53


     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [41]:
# 슬라이싱 기법을 사용하여 여러 개의 행 데이터 선택
search_03 = df.loc['이겨레':'조약돌']
position_03 = df.iloc[0:2]    # 마지막 검색 범위는 불포함

# 이겨레는 loc 인덱서, 조약돌은 iloc 인덱서를 사용하여 행 데이터 출력
print(search_03)     # loc로 범위를 설정한 2개의 행 데이터 출력
print('\n')
print(position_03)   # iloc로 범위를 설정한 2개의 행 데이터 출력

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53


     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53