## 분석을 위한 셋팅 import

In [4]:
# 판다스, 넘파이 모듈을 불러옵니다.

## 데이터프레임 - 만들기(CSV 파일)

In [1]:
# csv 파일 불러와서 만들기
# csv 파일을 불러와서 df_spotify DataFrame에 담습니다.

## 데이터프레임 - head() 함수

In [2]:
# 상위 5개 행(row) 출력

## 데이터프레임 데이터 구조 확인을 위한 함수들 출력

In [3]:
# print 함수를 사용해서 기본적 확인
# index, columns, values, shape, info

In [4]:
# describe를 통한 확인

## 인덱싱, 슬라이싱, 불리언 출력

In [9]:
df_spotify[['Artist']]

                  Artist
0                Ava Max
1          Billie Eilish
2          Ariana Grande
3            Tones and I
4           Shawn Mendes
...                  ...
1712                 Sia
1713                  LX
1714            Bee Gees
1715    MC Kevin o Chris
1716  Henrique & Juliano

[1717 rows x 1 columns]

In [10]:
# DataFrame['컬럼명']의 경우 Series 타입으로 반환
print(type(df_spotify['Artist']))

<class 'pandas.core.series.Series'>

In [11]:
df_spotify[['Rank','Artist']]

        Rank              Artist
0        1.0             Ava Max
1        2.0       Billie Eilish
2        3.0       Ariana Grande
3        4.0         Tones and I
4        5.0        Shawn Mendes
...      ...                 ...
1712  1713.0                 Sia
1713  1714.0                  LX
1714  1715.0            Bee Gees
1715  1716.0    MC Kevin o Chris
1716  1717.0  Henrique & Juliano

[1717 rows x 2 columns]

In [12]:
# 1개의 컬럼값
print(df_spotify['Artist'].values)
print(type(df_spotify['Artist'].values))
# 1차원 ndarray
print(df_spotify['Artist'].values.shape)

# 2개의 컬럼값
print(df_spotify[['Rank','Artist']].values)
print(type(df_spotify[['Rank','Artist']].values))
# 2차원 ndarray
print(df_spotify[['Rank','Artist']].values.shape)

['Ava Max' 'Billie Eilish' 'Ariana Grande' ... 'Bee Gees'
 'MC Kevin o Chris' 'Henrique & Juliano']
<class 'numpy.ndarray'>
(1717,)
[[1.0 'Ava Max']
 [2.0 'Billie Eilish']
 [3.0 'Ariana Grande']
 ...
 [1715.0 'Bee Gees']
 [1716.0 'MC Kevin o Chris']
 [1717.0 'Henrique & Juliano']]
<class 'numpy.ndarray'>
(1717, 2)

In [5]:
# 특정 조건을 만족하는 데이터값
# Artist가 BTS인 것만 분석해 보기

In [6]:
# Artist_popularity가 92보다 큰 것들만 출력

In [7]:
# 가장 많은 곡이 리스트에 있는 가수를 보고자 할 때.

In [8]:
# in 연산자를 이용하여 순위에 BTS가 있는지 확인(불리언 대답으로 확인)

In [9]:
# index를 사용하여 챠트에 오른 BTS곡 개수 확인

In [10]:
# values를 사용하여 챠트에 가장 많이 오른 곡 리스트로 출력

In [11]:
# tempo: The overall estimated tempo of a track in beats per minute (BPM).

# 한 가지 조건에 원하는 컬럼만 보고 싶을 때 => 조건 뒤에 원하는 컬럼을 명시하여 사용
# 템포(tempo)가 평균(122)보다 큰 조건으로 Rank, Track Name, Artist, tempo 컬럼을 확인해 보기

In [12]:
# energy column: energetic tracks feel fast, loud, and noisy.

# 복합 조건에 원하는 컬럼만 보고 싶을 경우 각각의 조건을 괄호()로 표시하고 AND조건(&기호)와 OR조건(|)를 사용
# Artist가 BTS이면서 energy는 0.8보다 큰 Rank, Track Name, Artist, energy 분석

## reindex, reset_index 출력

In [13]:
# 연습)
# reindex를 위해서 arange를 16으로 정하고, reshape(4,4)로 변경
# index는 a, b, c, d로 하고 컬럼의 이름은 Seoul, Busan, Incheon, Ulsan이라고 변경

In [14]:
# 연습)
# reindex를 다시 호출하면 새로운 색인에 맞춰서 재배열
# reindex를 b, c, a, d, e 순으로 재배열
# 없는 값(결측치)은 NaN으로 표시됨

In [15]:
# Artist컬럼이 BTS인 데이터를 다시 읽어 들여 df_artist_bts에 대입 후 상위 5개 행 확인
# BTS의 곡들

In [16]:
# df_artist_bts의 기존 인덱스를 출력해서 확인


# reset_index (기존 인덱스 유지)


# reset_index (기존 인덱스 삭제, drop=True)

In [17]:
# reset_index1 데이터 상위 5개 행만 확인

In [18]:
# reset_index2 데이터 상위 5개 행만 확인

## 데이터프레임 - column 추가 출력

In [19]:
# 데이터 프레임에 컬럼은 [] 연산자를 사용하여 추가
# df_spotify_2 데이터프레임을 생성하고 새로운 컬럼 Rank_a 추가 후 0을 대입
# 결과는 오른쪽 끝 열을 확인 -> Rank_a 컬럼 추가되고 0이 할당 된 것을 확인

In [20]:
# 기존 컬럼을 기반으로 연산을 추가하여 새로운 컬럼을 생성
# Rank_b, Streams_and_Artist_follower 두 필드 추가

In [21]:
# 기존 컬럼의 값 변경을 원한다면 가능 
# 예를 들어 Rank_b 컬럼에 0.1을 곱하여 값을 변경한 업데이트된 값을 확인

## 데이터프레임 - 삭제

In [22]:
# drop 함수를 사용하여 행(row), 열(column)을 삭제
# axis=0은 행을 axis=1 열을 의미
# drop 함수를 사용해서 삭제 시 axis 값을 어떻게 정할지는 여러분의 판단이므로 중요
# drop(숫자)를 넣고 해당하는 인덱스 행을 삭제
# 기본적으로 axis를 넣지 않는 경우 drop 함수는 axis=0을 디폴트로 적용 됨 => axis = 0을 사용하면 결과는 같음

#drop 함수를 사용하여 index 컬럼을 삭제하기
# 삭제된 내용 확인

In [23]:
# 여러 행을 삭제시 drop([인덱스a, 인덱스b, 인덱스c]) 형식으로 사용

# 0,1,2 행을 삭제

In [24]:
# Track_id를 삭제하기
# 삭제된 결과 상위 3개 확인

In [25]:
# Country, Streams, Track_id, url 컬럼을 제거

In [26]:
# 데이터 확인

In [27]:
# df_spotify_2에서 'Country','Streams','Track_id','URL' 컬럼 제거

## 데이터 추출(loc)

In [28]:
# df_spotify 의 0번 행의 데이터

In [29]:
# 0번 행의 Artist 값

In [30]:
# 인덱스 87번의 데이터 중 Rank, Artist, Track Name 확인

In [31]:
# 데이터에서 아티스트가 BTS인 값만 출력

In [32]:
# 차트에서 BTS 곡들의 인덱스 확인

In [33]:
# BTS 곡들의 순위, 아티스트, 곡 제목만 확인

In [34]:
# 순위 0~2번 데이터의 순위, 제목, 가수

In [35]:
# Rank와 Artist의 모든 행을 보고 싶을 경우

In [36]:
# BTS 곡의 행(row)index를 지정하고 모든 열 정보를 보고 싶을 경우

## 데이터 추출(iloc)

In [37]:
# 행(인덱스 3번째 ~ 5번째), 열(1번 ~ 5번째) 데이터

In [38]:
# 콤마(,)로 행과 열을 지정해서 데이터를 가져 올 수 있음.
# iloc [행, 열] 방법으로 데이터 추출
# 추출 방법
# 1) BTS 곡 = 86, 464, 676, 678, 681, 710, 725, 778, 883, 1057, 1265 
# 2) Artist == BTS
# 3) 컬럼(열) = Rank, Track Name, Artist

In [39]:
# 콜론(:)을 사용하면 전체의 의미, 여러 행과 열의 데이터를 가져올 경우 콤마(,) 사용
# 행은 범위를 주었고 열은 전체 선택

In [40]:
# 콜론(:)은 해당하는 행 또는 열의 전체를 선택

## 정렬

In [41]:
# 데이터 열을 줄이는 것

In [42]:
# ascending을 따로 설정하지 않은 경우 기본은 ascending=True, 오름차순으로 정렬)

In [43]:
# Artist_popularity','Streams' 열들의 내림차순으로 데이터 정렬

In [44]:
# 인덱스 번호별로 데이터 정렬

In [45]:
# 컬럼명 오름차순으로 데이터 정렬 (A-Z)

## 통계 및 수학 함수 출력

In [47]:
# 리스트에 있는 BTS 음원 Stream 횟수

print("BTS 음원 모든곡의 Stream 총 횟수: ",
print("BTS 음원 중 한곡의 minimum Stream 횟수: ", 
print("BTS 음원 중 한곡의 maximum Stream 횟수: ", 
print("BTS 음원 중 한곡의 minimum Stream 의 index: ", 
print("BTS 음원 중 한곡의 maximum Stream 의 index: ",
print("BTS 음원 모든곡의 Stream 횟수의 평균: ", 
print("BTS 음원 모든곡의 Stream 중간값: ",

In [48]:
# unique() - 유일값을 확인 할 수 있습니다.

## 함수 적용 - apply lambda

### 구문: lamda [입력값]:[입력값을 가지고 연산처리, 연산 결과 반환]

- 대용량 처리 시 사용할 경우 효율적으로 데이터 가공이 가능함 - 속도적 장점을 가짐

In [66]:
# 음원재생수의 평균과 중간값 

print("평균값: ", 
print("중간값: ",

      
# 각 음원재생수에서 총음원재생수 중간값을 뺀것

평균값:  51661752.19510774
중간값:  9623926.0

      Streams  Stream_counts
0  1166185736     1156561810
1  1052358787     1042734861
2   789094044      779470118
3   764208309      754584383
4   763064359      753440433

In [49]:
# 총 음원재생수의 중간값보다 재생수가 낮은 곡들

In [50]:
# 람다식에서 if 조건문 사용
# 음원재생값이 전체중간값보다 높으면 Above_median 값을 입력, 아니면 Under_median 값

In [70]:
# bts의 곡들만 음원레벨을 확인 (Stream_level)

,Streams,Stream_counts,Track Name,Artist,Stream_level
86,261504425,251880499,Boy With Luv (feat. Halsey),BTS,Above_median
464,42873724,33249798,Make It Right (feat. Lauv),BTS,Above_median
676,18801822,9177896,Mikrokosmos,BTS,Above_median
678,18648089,9024163,Dream Glow (BTS World Original Soundtrack) - P...,BTS,Above_median
681,18423901,8799975,Make It Right,BTS,Above_median
710,16442038,6818112,HOME,BTS,Above_median
725,15134946,5511020,Dionysus,BTS,Above_median
778,12992565,3368639,Jamais Vu,BTS,Above_median
883,8775556,-848370,Intro : Persona,BTS,Under_median
1057,4383131,-5240795,A Brand New Day (BTS World Original Soundtrack...,BTS,Under_median
1265,1921011,-7702915,All Night (BTS World Original Soundtrack) [Pt. 3],BTS,Under_median