# 2021 LG vs 두산 타자 기록

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [17]:
import pandas as pd
import numpy as np

In [18]:
# 파일 읽어오기
data = '2021LG두산타자기록.xlsx'
d01 = pd.read_excel(data)
d01

,순위,선수명,팀명,타율,경기수,타석,타수,득점,1루타,2루타,3루타,홈런,루타,타점,희생번트,희생플라이
0,1,홍창기,LG,0.328,144,651,524,103,172,26,2,4,214,52,0,2
1,2,이상호,LG,0.308,45,68,65,5,20,2,0,0,22,12,2,0
2,3,한석현,LG,0.286,16,26,21,5,6,2,1,0,10,1,0,1
3,4,김현수,LG,0.285,140,595,506,70,144,23,1,17,220,96,0,9
4,5,채은성,LG,0.276,110,448,387,59,107,20,0,16,175,82,0,7
5,6,오지환,LG,0.254,134,532,464,62,118,19,2,8,165,57,4,5
6,7,서건창,LG,0.253,144,600,513,78,130,24,2,6,176,52,5,4
7,8,유강남,LG,0.252,130,441,397,39,100,16,0,11,149,60,3,2
8,9,이재원,LG,0.247,62,171,154,22,38,6,0,5,59,17,0,1
9,10,라모스,LG,0.243,51,205,185,14,45,7,1,8,78,25,0,0
10,10,이영빈,LG,0.243,72,169,148,21,36,9,0,2,51,16,2,1
11,12,정주현,LG,0.238,73,214,181,26,43,7,1,3,61,10,9,0
12,13,문보경,LG,0.23,107,329,278,37,64,11,1,8,101,39,3,2
13,14,문성주,LG,0.228,31,89,79,11,18,1,0,1,22,10,0,1
14,15,김민성,LG,0.222,121,426,360,35,80,22,0,8,126,39,11,5
15,16,이형종,LG,0.218,90,281,239,32,52,11,0,10,93,34,1,0
16,17,이성우,LG,0.212,36,39,33,0,7,0,0,0,7,2,5,0
17,18,이천웅,LG,0.199,68,211,181,20,36,7,0,2,49,16,1,1
18,19,보어,LG,0.17,32,117,100,7,17,2,0,3,28,17,0,3
19,20,김주성,LG,0.167,3,7,6,1,1,0,0,1,4,1,0,0
20,21,김용의,LG,0.148,102,41,27,19,4,2,0,0,6,2,4,1
21,22,안익훈,LG,0.143,48,16,14,4,2,1,0,0,3,1,0,0
22,23,김재성,LG,0.138,58,73,65,6,9,2,1,1,16,3,1,1
23,24,구본혁,LG,0.132,123,45,38,10,5,2,0,0,7,3,1,2
24,25,신민재,LG,0.13,32,27,23,8,3,0,0,0,3,2,0,0
25,26,이주형,LG,0.125,14,19,16,3,2,0,0,0,2,0,1,0
26,27,손호영,LG,0.1,8,12,10,2,1,0,0,0,1,0,0,0
27,28,고우석,LG,-,5,0,0,0,0,0,0,0,0,0,0,0
28,28,김지용,LG,-,1,0,0,0,0,0,0,0,0,0,0,0
29,28,김진수,LG,-,1,0,0,0,0,0,0,0,0,0,0,0

In [19]:
d01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      30 non-null     int64
 1   선수명     30 non-null     object
 2   팀명      30 non-null     object
 3   타율      30 non-null     object
 4   경기수     30 non-null     int64
 5   타석      30 non-null     int64
 6   타수      30 non-null     int64
 7   득점      30 non-null     int64
 8   1루타     30 non-null     int64
 9   2루타     30 non-null     int64
 10  3루타     30 non-null     int64
 11  홈런      30 non-null     int64
 12  루타      30 non-null     int64
 13  타점      30 non-null     int64
 14  희생번트    30 non-null     int64
 15  희생플라이   30 non-null     int64
dtypes: int64(13), object(3)
memory usage: 3.9+ KB

In [20]:
height = d01['홈런'].mean()
print('평균값 : ', height)

평균값 :  3.8

In [32]:
d01_1 = d01['타율'].replace('-', np.nan)
d01_1

0     0.328
1     0.308
2     0.286
3     0.285
4     0.276
5     0.254
6     0.253
7     0.252
8     0.247
9     0.243
10    0.243
11    0.238
12    0.230
13    0.228
14    0.222
15    0.218
16    0.212
17    0.199
18    0.170
19    0.167
20    0.148
21    0.143
22    0.138
23    0.132
24    0.130
25    0.125
26    0.100
27      NaN
28      NaN
29      NaN
Name: 타율, dtype: float64

In [34]:
d01['타율'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [35]:
d01['경기수'].median()

60.0

In [36]:
d01.describe()

,순위,경기수,타석,타수,득점,1루타,2루타,3루타,홈런,루타,타점,희생번트,희생플라이
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.0000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.366667,66.700000,195.066667,167.133333,23.300000,42.0000,7.400000,0.400000,3.800000,61.600000,21.633333,1.766667,1.600000
std,8.664169,48.571419,209.460050,177.854209,26.767389,49.8349,8.652685,0.674665,4.894754,71.119424,26.553113,2.762849,2.283373
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.250000,31.250000,26.250000,21.500000,4.250000,3.2500,0.250000,0.000000,0.000000,4.500000,1.250000,0.000000,0.000000
50%,15.500000,60.000000,103.000000,89.500000,12.500000,19.0000,2.000000,0.000000,1.500000,25.000000,11.000000,0.500000,1.000000
75%,22.750000,109.250000,317.000000,268.250000,34.250000,61.0000,11.000000,1.000000,7.500000,99.000000,37.750000,2.750000,2.000000
max,28.000000,144.000000,651.000000,524.000000,103.000000,172.0000,26.000000,2.000000,17.000000,220.000000,96.000000,11.000000,9.000000